[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-allauth = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3"
